/* stylelint-disable at-rule-no-unknown */
@import "tailwindcss";
/* stylelint-enable at-rule-no-unknown */

html, body {
  height: 100%;
  overflow: hidden;
}

body.scroll-enabled {
  overflow: auto;
}